{% extends 'base.html' %}

{% block title %}
    Аналитика акции компании - {{ symbol }}
{% endblock %}


{% block body %}
    <style>
        span {
            padding-left: 5px;
        }

        span.up {
            color: green;
        }

        span.down {
            color: red;
        }
    </style>
    <div class="hrefs">
        <a href="..">Вернутся назад</a>
    </div>
    <div class="row justify-content-start">
        <div class="col-6">
            <h2>Up</h2>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Delta</th>
                    <th scope="col">Date from</th>
                    <th scope="col">Date to</th>
                </tr>
                </thead>
                <tbody>
                {% for row in delta_up %}
                    <tr>
                        <td class="table_tr_counter" scope="row"></td>
                        {% for td in row %}
                            <td>{{ td }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h2>Down</h2>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Delta</th>
                    <th scope="col">Date from</th>
                    <th scope="col">Date to</th>
                </tr>
                </thead>
                <tbody>
                {% for row in delta_down %}
                    <tr>
                        <td class="table_tr_counter" scope="row"></td>
                        {% for td in row %}
                            <td>{{ td }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}