{% extends 'base.html' %}

{% block title %}
    Торги компании - {{ symbol }}
{% endblock %}


{% block body %}
    <div class="hrefs">
        <a href="..">Вернутся назад</a>
    </div>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Last price</th>
            <th scope="col">Shares traded</th>
            <th scope="col">Shares held</th>
            <th scope="col">Type transaction</th>
            <th scope="col">Insider</th>
            <th scope="col">Owner type</th>
        </tr>
        </thead>
        <tbody>
        {% for trade in trades %}
            <tr>
                <td class="table_tr_counter" scope="row"></td>
                <td>
                    {% if is_trades %}
                        <a href="./{{ trade.insider.name }}/">{{ trade.insider.name }}</a>
                    {% else %}
                        {{ trade.insider.name }}
                    {% endif %}
                </td>
                <td>{{ trade.date }}</td>
                <td>{{ trade.last_price }}</td>
                <td>{{ trade.shares_traded }}</td>
                <td>{{ trade.shares_held }}</td>
                <td>{{ trade.type_transaction.name }}</td>
                <td>{{ trade.owner_type.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}